@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400&display=swap');

.tabs {
   background-color: rgb(32, 32, 37);
   padding: 30px 0;
   border-radius: 8px;
   color: aliceblue;
   // .tabs__body

   &__body {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
   }

   // .tabs__buttons

   &__buttons {
      display: flex;
      flex-direction: column;
      row-gap: 17px;
   }

   // .tabs__buttons-item

   &__buttons-item {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #333;
      border-radius: 8px;
      padding: 3px;
   }

   // .tabs__content

   &__content {
      flex: 1 1 auto;
      min-height: 100%;
      display: flex;
   }

   // .tabs__block

   &__block {
      min-height: 100%;
      text-align: center;
      flex: 1 1 auto;
      font-size: 23px;
   }
}

._first {
   background-color: rgb(14, 1, 1);
   color: rgb(70, 64, 64);
}

._second {
   background-color: rgb(170, 255, 189);
   color: rgb(15, 15, 15);
}

._third {
   background-color: rgb(220, 226, 144);
   color: rgb(37, 33, 33);
}

._fourth {
   background-color: rgb(179, 211, 248);
   color: rgb(19, 20, 19);
}

.__hide {
   display: none;
}

.__active {
   border: 1px solid rgb(138, 136, 136);
}

.timer {
   margin-top: 50px;
   font-size: 24px;
   // .timer__body

   &__body {
      display: flex;
      gap: 20px;
      justify-content: center;
   }

   // .timer__block
   span {
      display: block;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
   }

   &__block {
      border: 2px solid #333;
      border-radius: 8px;
      padding: 20px;
   }
}

.hide {
   display: none;
}

.show {
   display: block;
}

.status {
   text-align: center;
}


.trigger {

   &__button {
      font-size: 20px;
      padding: 4px 20px;
   }
}


.modal {
   font-size: 25px;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1050;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   // .modal_body

   &__body {
      margin: 25% auto;
      padding: 25px 5px;
      max-width: 400px;
      border: 1px solid #333;
      display: flex;
      gap: 10px;
      background-color: rgb(238, 245, 248);
      flex-wrap: wrap;
      flex-direction: row-reverse;
      opacity: 0.95;

   }

   // .modal__top
   &__close {}

   &__top {
      flex: 0 1 100%;
      text-align: center;
   }

   // .modal__bot

   &__middle {
      flex: 0 1 100%;
      text-align: center;
   }

   &__bottom {
      font-size: 16px;
   }
}

.grab {
   margin: 30px 0;
   font-family: 'Mulish', sans-serif;
   // .grab__row

   &__row {
      background-color: rgb(216, 238, 230);
      display: flex;
      justify-content: center;
      gap: 45px;
      padding: 8px 0;
   }



   // .grab__title

   &__title {
      flex: 0 1 180px;
      height: 30px;
      text-align: center;
      font-size: 20px;

      border-radius: 8px;
      background: linear-gradient(to right, #ffefba, #ffffff);
   }

   // .grab__place

   &__place {
      flex: 0 1 180px;
      min-height: 60px;


   }

   &__item {
      text-align: center;
      padding: 8px 0;
      font-size: 20px;
      color: #f0f2f0;
      cursor: grab;
      min-width: 175px;
      height: 30px;
      border-radius: 10px;
      background: linear-gradient(to right, #2980b9, #2c3e50);
   }

   .placeholder {
      min-height: 80px;
   }

}



.cards {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   // .cards__body

   &__body {
      display: flex;
      justify-content: center;
      padding: 10px 15px;
      flex-wrap: wrap;
      gap: 20px;
   }
}

.card {
   display: flex;
   flex-direction: column;
   flex: 0 1 30%;
   gap: 10px;
   align-items: center;
   border: 1px solid #333;
   padding: 5px 8px;
   background-color: rgb(232, 240, 252);
   // .card__title

   &__title {
      font-weight: 700;
      font-size: 18px;
   }

   // .card__pic

   &__pic {
      img {
         width: 160px;
         height: 170px;
      }
   }

   // .card__descr

   &__descr {
      line-height: 1.3;
      flex: 1 1 auto;
   }

   // .card__price

   &__price {}
}


.slider {



   &__counter {
      font-size: 20px;
      text-align: center;
   }

   // .slider__counter-prev

   &__counter-prev {
      cursor: pointer;
   }

   // .slider__counter-next

   &__counter-next {
      cursor: pointer;
   }


   margin: 30px 0;
   // .slider__offer

   &__offer {
      display: flex;
   }
}

.slide {
   display: flex;
   justify-content: center;
   max-height: 500px;


   img {}
}



form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;

   input {
      padding: 9px 11px;
   }
}

.modal__status {
   text-align: center;
   flex: 0 1 100%;
}



.hold {
   //box-shadow: -7px -16px 16px -3px rgba(30, 32, 32, 0.2) inset;
}

.hovered {
   border-top: 2px solid rgba(147, 206, 222, 1);
}